In [10]:
import polars as pl

#### 1. Creación de un dataframe de polars

In [11]:
## Diccionario de Datos

InscritosPBI =  {
                "Codigo Alumno": [10, 11, 12],
                "Nombre Completo": ["Edgar", "Pedro", "Maria"], 
                "Fecha Nacimiento": ["1996-08-20", "1989-12-15", "2001-01-18"]
                }

InscritosPBI

{'Codigo Alumno': [10, 11, 12],
 'Nombre Completo': ['Edgar', 'Pedro', 'Maria'],
 'Fecha Nacimiento': ['1996-08-20', '1989-12-15', '2001-01-18']}

In [12]:
# Lista de listas

InscritosSQL =  [ 
                 [13, 14, 15], 
                 ["Jose", "Esmeralda", "Angela"], 
                 ["1992-08-20", "1999-06-30", "2002-02-20"]
                ]

InscritosSQL

[[13, 14, 15],
 ['Jose', 'Esmeralda', 'Angela'],
 ['1992-08-20', '1999-06-30', '2002-02-20']]

In [13]:
# Crear un dataframe a partir de un Diccionario de datos
df1 = pl.DataFrame(InscritosPBI)
df1

shape: (3, 3)
┌───────────────┬─────────────────┬──────────────────┐
│ Codigo Alumno ┆ Nombre Completo ┆ Fecha Nacimiento │
│ ---           ┆ ---             ┆ ---              │
│ i64           ┆ str             ┆ str              │
╞═══════════════╪═════════════════╪══════════════════╡
│ 10            ┆ Edgar           ┆ 1996-08-20       │
│ 11            ┆ Pedro           ┆ 1989-12-15       │
│ 12            ┆ Maria           ┆ 2001-01-18       │
└───────────────┴─────────────────┴──────────────────┘

In [14]:
# Crear un dataframe a partir de una lista de listas
df2 = pl.DataFrame(InscritosSQL)
df2

shape: (3, 3)
┌──────────┬───────────┬────────────┐
│ column_0 ┆ column_1  ┆ column_2   │
│ ---      ┆ ---       ┆ ---        │
│ i64      ┆ str       ┆ str        │
╞══════════╪═══════════╪════════════╡
│ 13       ┆ Jose      ┆ 1992-08-20 │
│ 14       ┆ Esmeralda ┆ 1999-06-30 │
│ 15       ┆ Angela    ┆ 2002-02-20 │
└──────────┴───────────┴────────────┘

##### La propiedad **"schema"**
##### En datasets **con encabezados**, permite definir el tipo de dato de las columnas
##### En datasets **sin encabezados**, permite definir el nombre de las columnas

> **Observacion:** siempre se deben colocar todas las columnas

In [15]:
pl.DataFrame(InscritosPBI, schema = {   
                                     "Codigo Alumno": pl.Int64,
                                     "Nombre Completo": pl.Utf8, 
                                     "Fecha Nacimiento": pl.Date
                                    }
             )

shape: (3, 3)
┌───────────────┬─────────────────┬──────────────────┐
│ Codigo Alumno ┆ Nombre Completo ┆ Fecha Nacimiento │
│ ---           ┆ ---             ┆ ---              │
│ i64           ┆ str             ┆ date             │
╞═══════════════╪═════════════════╪══════════════════╡
│ 10            ┆ Edgar           ┆ 1996-08-20       │
│ 11            ┆ Pedro           ┆ 1989-12-15       │
│ 12            ┆ Maria           ┆ 2001-01-18       │
└───────────────┴─────────────────┴──────────────────┘

In [16]:
pl.DataFrame(InscritosSQL, schema = [   
                                     "Codigo Alumno",
                                     "Nombre Completo", 
                                     "Fecha Nacimiento"
                                    ]
             )

shape: (3, 3)
┌───────────────┬─────────────────┬──────────────────┐
│ Codigo Alumno ┆ Nombre Completo ┆ Fecha Nacimiento │
│ ---           ┆ ---             ┆ ---              │
│ i64           ┆ str             ┆ str              │
╞═══════════════╪═════════════════╪══════════════════╡
│ 13            ┆ Jose            ┆ 1992-08-20       │
│ 14            ┆ Esmeralda       ┆ 1999-06-30       │
│ 15            ┆ Angela          ┆ 2002-02-20       │
└───────────────┴─────────────────┴──────────────────┘

##### La propiedad **"schema_overrides"** permite indicar el tipo de dato de una o más columnas
> **Observacion:** no permite sobreescribir el tipo de dato de una entrada sin encabezado

In [17]:
pl.DataFrame(InscritosPBI, schema_overrides={"Fecha Nacimiento": pl.Date})

shape: (3, 3)
┌───────────────┬─────────────────┬──────────────────┐
│ Codigo Alumno ┆ Nombre Completo ┆ Fecha Nacimiento │
│ ---           ┆ ---             ┆ ---              │
│ i64           ┆ str             ┆ date             │
╞═══════════════╪═════════════════╪══════════════════╡
│ 10            ┆ Edgar           ┆ 1996-08-20       │
│ 11            ┆ Pedro           ┆ 1989-12-15       │
│ 12            ┆ Maria           ┆ 2001-01-18       │
└───────────────┴─────────────────┴──────────────────┘

In [22]:
pl.DataFrame(InscritosSQL, 
             schema = ["Codigo Alumno", "Nombre Completo", "Fecha Nacimiento"],
             schema_overrides = {"Fecha Nacimiento": pl.Date}
             )

shape: (3, 3)
┌───────────────┬─────────────────┬──────────────────┐
│ Codigo Alumno ┆ Nombre Completo ┆ Fecha Nacimiento │
│ ---           ┆ ---             ┆ ---              │
│ i64           ┆ str             ┆ str              │
╞═══════════════╪═════════════════╪══════════════════╡
│ 13            ┆ Jose            ┆ 1992-08-20       │
│ 14            ┆ Esmeralda       ┆ 1999-06-30       │
│ 15            ┆ Angela          ┆ 2002-02-20       │
└───────────────┴─────────────────┴──────────────────┘

#### 2. Análisis de Dataframes

In [23]:
import polars as pl
# Permite configurar la cantidad de caracteres o dígitos que se mostrarán por columna
from polars import Config
Config.set_fmt_str_lengths(50)

polars.config.Config

In [28]:
# df = pl.read_csv(r"C:/Users/yohan/Documents/ELTLessons/1raClase/ReporteVentas.csv", separator=";")
df = pl.read_csv('ReporteVentas.csv', separator=';')
df.head(5)

shape: (5, 10)
┌─────────┬───────────┬─────────────┬──────────┬───┬────────────┬────────────┬──────────┬──────────┐
│ Factura ┆ ClienteID ┆ Cliente     ┆ Tienda   ┆ … ┆ Fecha      ┆ Producto   ┆ Unidades ┆ Precio   │
│ ---     ┆ ---       ┆ ---         ┆ ---      ┆   ┆ Entrega    ┆ ---        ┆ ---      ┆ ---      │
│ i64     ┆ i64       ┆ str         ┆ str      ┆   ┆ ---        ┆ str        ┆ i64      ┆ f64      │
│         ┆           ┆             ┆          ┆   ┆ str        ┆            ┆          ┆          │
╞═════════╪═══════════╪═════════════╪══════════╪═══╪════════════╪════════════╪══════════╪══════════╡
│ 55275   ┆ 30000     ┆ James McCoy ┆ ModCloth ┆ … ┆ 2024-02-06 ┆ ML         ┆ 12       ┆ 211.1722 │
│         ┆           ┆             ┆          ┆   ┆            ┆ Mountain   ┆          ┆          │
│         ┆           ┆             ┆          ┆   ┆            ┆ Frame-W -  ┆          ┆          │
│         ┆           ┆             ┆          ┆   ┆            ┆ Silver, 40 ┆          ┆          │
│ 59064   ┆ 30050     ┆ Krishna Sun ┆ GameStop ┆ … ┆ 2024-04-07 ┆ ML         ┆ 13       ┆ 211.1722 │
│         ┆           ┆ kammurali   ┆          ┆   ┆            ┆ Mountain   ┆          ┆          │
│         ┆           ┆             ┆          ┆   ┆            ┆ Frame-W -  ┆          ┆          │
│         ┆           ┆             ┆          ┆   ┆            ┆ Silver, 40 ┆          ┆          │
│ 65321   ┆ 29487     ┆ Humberto    ┆ Amazon   ┆ … ┆ 2024-07-05 ┆ ML         ┆ 1        ┆ 218.454  │
│         ┆           ┆ Acevedo     ┆          ┆   ┆            ┆ Mountain   ┆          ┆          │
│         ┆           ┆             ┆          ┆   ┆            ┆ Frame-W -  ┆          ┆          │
│         ┆           ┆             ┆          ┆   ┆            ┆ Silver, 42 ┆          ┆          │
│ 57066   ┆ 29586     ┆ David Brink ┆ Alibaba  ┆ … ┆ 2024-03-09 ┆ Women's    ┆ 4        ┆ 48.7435  │
│         ┆           ┆             ┆          ┆   ┆            ┆ Tights, S  ┆          ┆          │
│ 71691   ┆ 29676     ┆ Peter       ┆ Alibaba  ┆ … ┆ 2024-10-06 ┆ Women's    ┆ 2        ┆ 48.7435  │
│         ┆           ┆ Connelly    ┆          ┆   ┆            ┆ Tights, S  ┆          ┆          │
└─────────┴───────────┴─────────────┴──────────┴───┴────────────┴────────────┴──────────┴──────────┘

In [25]:
# ¿Cual es el tamaño del dataframe= ==> {‘b’, ‘kb’, ‘mb’, ‘gb’, ‘tb’}
df.estimated_size("mb")

10.89138412475586

In [27]:
# Cambiar el tipo de dato de las columnas
df = df.cast({"Factura": pl.Utf8, "Fecha Pedido": pl.Date, "Fecha Entrega": pl.Date, "Unidades": pl.Int16, "Precio": pl.Float32})
df.head(8)

shape: (8, 10)
┌─────────┬───────────┬────────────┬──────────┬───┬────────────┬────────────┬──────────┬───────────┐
│ Factura ┆ ClienteID ┆ Cliente    ┆ Tienda   ┆ … ┆ Fecha      ┆ Producto   ┆ Unidades ┆ Precio    │
│ ---     ┆ ---       ┆ ---        ┆ ---      ┆   ┆ Entrega    ┆ ---        ┆ ---      ┆ ---       │
│ str     ┆ i64       ┆ str        ┆ str      ┆   ┆ ---        ┆ str        ┆ i16      ┆ f32       │
│         ┆           ┆            ┆          ┆   ┆ date       ┆            ┆          ┆           │
╞═════════╪═══════════╪════════════╪══════════╪═══╪════════════╪════════════╪══════════╪═══════════╡
│ 55275   ┆ 30000     ┆ James      ┆ ModCloth ┆ … ┆ 2024-02-06 ┆ ML         ┆ 12       ┆ 211.17219 │
│         ┆           ┆ McCoy      ┆          ┆   ┆            ┆ Mountain   ┆          ┆ 5         │
│         ┆           ┆            ┆          ┆   ┆            ┆ Frame-W -  ┆          ┆           │
│         ┆           ┆            ┆          ┆   ┆            ┆ Silver, 40 ┆          ┆           │
│ 59064   ┆ 30050     ┆ Krishna    ┆ GameStop ┆ … ┆ 2024-04-07 ┆ ML         ┆ 13       ┆ 211.17219 │
│         ┆           ┆ Sunkammura ┆          ┆   ┆            ┆ Mountain   ┆          ┆ 5         │
│         ┆           ┆ li         ┆          ┆   ┆            ┆ Frame-W -  ┆          ┆           │
│         ┆           ┆            ┆          ┆   ┆            ┆ Silver, 40 ┆          ┆           │
│ 65321   ┆ 29487     ┆ Humberto   ┆ Amazon   ┆ … ┆ 2024-07-05 ┆ ML         ┆ 1        ┆ 218.45399 │
│         ┆           ┆ Acevedo    ┆          ┆   ┆            ┆ Mountain   ┆          ┆ 5         │
│         ┆           ┆            ┆          ┆   ┆            ┆ Frame-W -  ┆          ┆           │
│         ┆           ┆            ┆          ┆   ┆            ┆ Silver, 42 ┆          ┆           │
│ 57066   ┆ 29586     ┆ David      ┆ Alibaba  ┆ … ┆ 2024-03-09 ┆ Women's    ┆ 4        ┆ 48.7435   │
│         ┆           ┆ Brink      ┆          ┆   ┆            ┆ Tights, S  ┆          ┆           │
│ 71691   ┆ 29676     ┆ Peter      ┆ Alibaba  ┆ … ┆ 2024-10-06 ┆ Women's    ┆ 2        ┆ 48.7435   │
│         ┆           ┆ Connelly   ┆          ┆   ┆            ┆ Tights, S  ┆          ┆           │
│ 57066   ┆ 29586     ┆ David      ┆ Alibaba  ┆ … ┆ 2024-03-03 ┆ Women's    ┆ 1        ┆ 48.7435   │
│         ┆           ┆ Brink      ┆          ┆   ┆            ┆ Tights, L  ┆          ┆           │
│ 71940   ┆ 29487     ┆ Humberto   ┆ Amazon   ┆ … ┆ 2024-10-04 ┆ ML         ┆ 2        ┆ 218.45399 │
│         ┆           ┆ Acevedo    ┆          ┆   ┆            ┆ Mountain   ┆          ┆ 5         │
│         ┆           ┆            ┆          ┆   ┆            ┆ Frame-W -  ┆          ┆           │
│         ┆           ┆            ┆          ┆   ┆            ┆ Silver, 46 ┆          ┆           │
│ 71884   ┆ 29492     ┆ Jay Adams  ┆ Ebay     ┆ … ┆ 2024-10-07 ┆ ML         ┆ 1        ┆ 218.45399 │
│         ┆           ┆            ┆          ┆   ┆            ┆ Mountain   ┆          ┆ 5         │
│         ┆           ┆            ┆          ┆   ┆            ┆ Frame-W -  ┆          ┆           │
│         ┆           ┆            ┆          ┆   ┆            ┆ Silver, 40 ┆          ┆           │
└─────────┴───────────┴────────────┴──────────┴───┴────────────┴────────────┴──────────┴───────────┘

In [26]:
# La importancia de asignar el tipo de dato correcto
df.estimated_size("mb")

10.89138412475586

##### 2.1 Atributos de un Dataframe

In [29]:
## Obtener el nombre de las columnas del dataframe
df.columns

['Factura',
 'ClienteID',
 'Cliente',
 'Tienda',
 'Pais',
 'Fecha Pedido',
 'Fecha Entrega',
 'Producto',
 'Unidades',
 'Precio']

In [30]:
## Obtener el tipo de dato de las columnas del dataframe
df.dtypes

[Int64, Int64, String, String, String, String, String, String, Int64, Float64]

In [32]:
## Obtener el esquema o metadata del dataframe
df.schema

OrderedDict([('Factura', Int64),
             ('ClienteID', Int64),
             ('Cliente', String),
             ('Tienda', String),
             ('Pais', String),
             ('Fecha Pedido', String),
             ('Fecha Entrega', String),
             ('Producto', String),
             ('Unidades', Int64),
             ('Precio', Float64)])

In [33]:
## Obtener la cantidad de filas de un dataframe
print("Filas: ", df.height)

## Obtener la cantidad de columnas de un dataframe
print("Columnas: ", df.width)

## Obtener la dimensión de un dataframe
print("Dimensión:", df.shape)

Filas:  70723
Columnas:  10
Dimensión: (70723, 10)

In [34]:
## Muestra las operaciones de ordenamiento aplicadas al Dataframe
df.flags

{'Factura': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'ClienteID': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Cliente': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Tienda': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Pais': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Fecha Pedido': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Fecha Entrega': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Producto': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Unidades': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Precio': {'SORTED_ASC': False, 'SORTED_DESC': False}}

In [35]:
## Ordenar un Dataframe a partir de una columna
df.sort("Fecha Pedido", descending = False).head()

df.sort("Fecha Entrega", descending = True, nulls_last = False).head()

shape: (5, 10)
┌─────────┬───────────┬───────────────┬───────────┬───┬─────────┬──────────────┬──────────┬────────┐
│ Factura ┆ ClienteID ┆ Cliente       ┆ Tienda    ┆ … ┆ Fecha   ┆ Producto     ┆ Unidades ┆ Precio │
│ ---     ┆ ---       ┆ ---           ┆ ---       ┆   ┆ Entrega ┆ ---          ┆ ---      ┆ ---    │
│ i64     ┆ i64       ┆ str           ┆ str       ┆   ┆ ---     ┆ str          ┆ i64      ┆ f64    │
│         ┆           ┆               ┆           ┆   ┆ str     ┆              ┆          ┆        │
╞═════════╪═══════════╪═══════════════╪═══════════╪═══╪═════════╪══════════════╪══════════╪════════╡
│ 75117   ┆ 18178     ┆ Tracy Goel    ┆ GameStop  ┆ … ┆ null    ┆ Half-Finger  ┆ 1        ┆ 24.49  │
│         ┆           ┆               ┆           ┆   ┆         ┆ Gloves, L    ┆          ┆        │
│ 75115   ┆ 26832     ┆ Kate Xie      ┆ Alibaba   ┆ … ┆ null    ┆ LL Road Tire ┆ 1        ┆ 21.49  │
│ 75092   ┆ 26564     ┆ Franklin Chen ┆ BestBuy   ┆ … ┆ null    ┆ LL Road Tire ┆ 1        ┆ 21.49  │
│ 75106   ┆ 14474     ┆ Jacqueline    ┆ Mr Porter ┆ … ┆ null    ┆ Mountain     ┆ 1        ┆ 4.99   │
│         ┆           ┆ Murphy        ┆           ┆   ┆         ┆ Tire Tube    ┆          ┆        │
│ 75097   ┆ 21717     ┆ Angel King    ┆ Mr Porter ┆ … ┆ null    ┆ Sport-100    ┆ 1        ┆ 34.99  │
│         ┆           ┆               ┆           ┆   ┆         ┆ Helmet,      ┆          ┆        │
│         ┆           ┆               ┆           ┆   ┆         ┆ Black        ┆          ┆        │
└─────────┴───────────┴───────────────┴───────────┴───┴─────────┴──────────────┴──────────┴────────┘

In [ ]:
## Ordenar un Dataframe a partir de una o más columnas
df.sort(["Fecha Pedido", "Fecha Entrega"], descending = [False, True]).head(10)

#### 3. Contextos y Expresiones

In [36]:
import polars as pl
# Permite configurar la cantidad de caracteres o dígitos que se mostrarán por columna
from polars import Config

In [37]:
df = pl.read_csv(r"C:/Users/yohan/Documents/ELTLessons/1raClase/ReporteVentas.csv", separator=";")

df = df.cast({"Factura": pl.Utf8, "Fecha Pedido": pl.Date, "Fecha Entrega": pl.Date, "Unidades": pl.Int16, "Precio": pl.Float32})

df.head(5)

shape: (5, 10)
┌─────────┬───────────┬────────────┬──────────┬───┬────────────┬────────────┬──────────┬───────────┐
│ Factura ┆ ClienteID ┆ Cliente    ┆ Tienda   ┆ … ┆ Fecha      ┆ Producto   ┆ Unidades ┆ Precio    │
│ ---     ┆ ---       ┆ ---        ┆ ---      ┆   ┆ Entrega    ┆ ---        ┆ ---      ┆ ---       │
│ str     ┆ i64       ┆ str        ┆ str      ┆   ┆ ---        ┆ str        ┆ i16      ┆ f32       │
│         ┆           ┆            ┆          ┆   ┆ date       ┆            ┆          ┆           │
╞═════════╪═══════════╪════════════╪══════════╪═══╪════════════╪════════════╪══════════╪═══════════╡
│ 55275   ┆ 30000     ┆ James      ┆ ModCloth ┆ … ┆ 2024-02-06 ┆ ML         ┆ 12       ┆ 211.17219 │
│         ┆           ┆ McCoy      ┆          ┆   ┆            ┆ Mountain   ┆          ┆ 5         │
│         ┆           ┆            ┆          ┆   ┆            ┆ Frame-W -  ┆          ┆           │
│         ┆           ┆            ┆          ┆   ┆            ┆ Silver, 40 ┆          ┆           │
│ 59064   ┆ 30050     ┆ Krishna    ┆ GameStop ┆ … ┆ 2024-04-07 ┆ ML         ┆ 13       ┆ 211.17219 │
│         ┆           ┆ Sunkammura ┆          ┆   ┆            ┆ Mountain   ┆          ┆ 5         │
│         ┆           ┆ li         ┆          ┆   ┆            ┆ Frame-W -  ┆          ┆           │
│         ┆           ┆            ┆          ┆   ┆            ┆ Silver, 40 ┆          ┆           │
│ 65321   ┆ 29487     ┆ Humberto   ┆ Amazon   ┆ … ┆ 2024-07-05 ┆ ML         ┆ 1        ┆ 218.45399 │
│         ┆           ┆ Acevedo    ┆          ┆   ┆            ┆ Mountain   ┆          ┆ 5         │
│         ┆           ┆            ┆          ┆   ┆            ┆ Frame-W -  ┆          ┆           │
│         ┆           ┆            ┆          ┆   ┆            ┆ Silver, 42 ┆          ┆           │
│ 57066   ┆ 29586     ┆ David      ┆ Alibaba  ┆ … ┆ 2024-03-09 ┆ Women's    ┆ 4        ┆ 48.7435   │
│         ┆           ┆ Brink      ┆          ┆   ┆            ┆ Tights, S  ┆          ┆           │
│ 71691   ┆ 29676     ┆ Peter      ┆ Alibaba  ┆ … ┆ 2024-10-06 ┆ Women's    ┆ 2        ┆ 48.7435   │
│         ┆           ┆ Connelly   ┆          ┆   ┆            ┆ Tights, S  ┆          ┆           │
└─────────┴───────────┴────────────┴──────────┴───┴────────────┴────────────┴──────────┴───────────┘

In [3]:
# Configurar para que las columnas de texto muestren 50 caracteres
Config.set_fmt_str_lengths(50)

df.head()

shape: (5, 10)
┌─────────┬───────────┬────────────┬──────────┬───┬────────────┬────────────┬──────────┬───────────┐
│ Factura ┆ ClienteID ┆ Cliente    ┆ Tienda   ┆ … ┆ Fecha      ┆ Producto   ┆ Unidades ┆ Precio    │
│ ---     ┆ ---       ┆ ---        ┆ ---      ┆   ┆ Entrega    ┆ ---        ┆ ---      ┆ ---       │
│ str     ┆ i64       ┆ str        ┆ str      ┆   ┆ ---        ┆ str        ┆ i16      ┆ f32       │
│         ┆           ┆            ┆          ┆   ┆ date       ┆            ┆          ┆           │
╞═════════╪═══════════╪════════════╪══════════╪═══╪════════════╪════════════╪══════════╪═══════════╡
│ 55275   ┆ 30000     ┆ James      ┆ ModCloth ┆ … ┆ 2024-02-06 ┆ ML         ┆ 12       ┆ 211.17219 │
│         ┆           ┆ McCoy      ┆          ┆   ┆            ┆ Mountain   ┆          ┆ 5         │
│         ┆           ┆            ┆          ┆   ┆            ┆ Frame-W -  ┆          ┆           │
│         ┆           ┆            ┆          ┆   ┆            ┆ Silver, 40 ┆          ┆           │
│ 59064   ┆ 30050     ┆ Krishna    ┆ GameStop ┆ … ┆ 2024-04-07 ┆ ML         ┆ 13       ┆ 211.17219 │
│         ┆           ┆ Sunkammura ┆          ┆   ┆            ┆ Mountain   ┆          ┆ 5         │
│         ┆           ┆ li         ┆          ┆   ┆            ┆ Frame-W -  ┆          ┆           │
│         ┆           ┆            ┆          ┆   ┆            ┆ Silver, 40 ┆          ┆           │
│ 65321   ┆ 29487     ┆ Humberto   ┆ Amazon   ┆ … ┆ 2024-07-05 ┆ ML         ┆ 1        ┆ 218.45399 │
│         ┆           ┆ Acevedo    ┆          ┆   ┆            ┆ Mountain   ┆          ┆ 5         │
│         ┆           ┆            ┆          ┆   ┆            ┆ Frame-W -  ┆          ┆           │
│         ┆           ┆            ┆          ┆   ┆            ┆ Silver, 42 ┆          ┆           │
│ 57066   ┆ 29586     ┆ David      ┆ Alibaba  ┆ … ┆ 2024-03-09 ┆ Women's    ┆ 4        ┆ 48.7435   │
│         ┆           ┆ Brink      ┆          ┆   ┆            ┆ Tights, S  ┆          ┆           │
│ 71691   ┆ 29676     ┆ Peter      ┆ Alibaba  ┆ … ┆ 2024-10-06 ┆ Women's    ┆ 2        ┆ 48.7435   │
│         ┆           ┆ Connelly   ┆          ┆   ┆            ┆ Tights, S  ┆          ┆           │
└─────────┴───────────┴────────────┴──────────┴───┴────────────┴────────────┴──────────┴───────────┘

##### 3.1 Selección de Columnas

In [4]:
# Selección de una columna usando el nombre directo
df.select("Factura").head(5)

shape: (5, 1)
┌─────────┐
│ Factura │
│ ---     │
│ str     │
╞═════════╡
│ 55275   │
│ 59064   │
│ 65321   │
│ 57066   │
│ 71691   │
└─────────┘

In [5]:
# Selección de una columna usaando la función col
df.select(pl.col("Factura")).head(5)

shape: (5, 1)
┌─────────┐
│ Factura │
│ ---     │
│ str     │
╞═════════╡
│ 55275   │
│ 59064   │
│ 65321   │
│ 57066   │
│ 71691   │
└─────────┘

In [6]:
# Selección de multiples columnas usando el nombre directo
df.select(["Factura", "Cliente", "Tienda", "Fecha Pedido", "Fecha Entrega", "Producto", "Unidades", "Precio"]).head()

shape: (5, 8)
┌─────────┬─────────────┬──────────┬─────────────┬────────────┬────────────┬──────────┬────────────┐
│ Factura ┆ Cliente     ┆ Tienda   ┆ Fecha       ┆ Fecha      ┆ Producto   ┆ Unidades ┆ Precio     │
│ ---     ┆ ---         ┆ ---      ┆ Pedido      ┆ Entrega    ┆ ---        ┆ ---      ┆ ---        │
│ str     ┆ str         ┆ str      ┆ ---         ┆ ---        ┆ str        ┆ i16      ┆ f32        │
│         ┆             ┆          ┆ date        ┆ date       ┆            ┆          ┆            │
╞═════════╪═════════════╪══════════╪═════════════╪════════════╪════════════╪══════════╪════════════╡
│ 55275   ┆ James McCoy ┆ ModCloth ┆ 2024-01-30  ┆ 2024-02-06 ┆ ML         ┆ 12       ┆ 211.172195 │
│         ┆             ┆          ┆             ┆            ┆ Mountain   ┆          ┆            │
│         ┆             ┆          ┆             ┆            ┆ Frame-W -  ┆          ┆            │
│         ┆             ┆          ┆             ┆            ┆ Silver, 40 ┆          ┆            │
│ 59064   ┆ Krishna Sun ┆ GameStop ┆ 2024-03-30  ┆ 2024-04-07 ┆ ML         ┆ 13       ┆ 211.172195 │
│         ┆ kammurali   ┆          ┆             ┆            ┆ Mountain   ┆          ┆            │
│         ┆             ┆          ┆             ┆            ┆ Frame-W -  ┆          ┆            │
│         ┆             ┆          ┆             ┆            ┆ Silver, 40 ┆          ┆            │
│ 65321   ┆ Humberto    ┆ Amazon   ┆ 2024-06-29  ┆ 2024-07-05 ┆ ML         ┆ 1        ┆ 218.453995 │
│         ┆ Acevedo     ┆          ┆             ┆            ┆ Mountain   ┆          ┆            │
│         ┆             ┆          ┆             ┆            ┆ Frame-W -  ┆          ┆            │
│         ┆             ┆          ┆             ┆            ┆ Silver, 42 ┆          ┆            │
│ 57066   ┆ David Brink ┆ Alibaba  ┆ 2024-02-28  ┆ 2024-03-09 ┆ Women's    ┆ 4        ┆ 48.7435    │
│         ┆             ┆          ┆             ┆            ┆ Tights, S  ┆          ┆            │
│ 71691   ┆ Peter       ┆ Alibaba  ┆ 2024-09-30  ┆ 2024-10-06 ┆ Women's    ┆ 2        ┆ 48.7435    │
│         ┆ Connelly    ┆          ┆             ┆            ┆ Tights, S  ┆          ┆            │
└─────────┴─────────────┴──────────┴─────────────┴────────────┴────────────┴──────────┴────────────┘

In [7]:
# Selección de multiples columnas usando la función col
df.select(pl.col("Factura").alias("Codigo Factura"), 
          pl.col("Cliente"),
          pl.col("Tienda"),
          pl.col("Fecha Pedido"),
          pl.col("Fecha Entrega"),
          pl.col("Producto"), 
          pl.col("Unidades"),
          pl.col("Precio")
          ).head()

shape: (5, 8)
┌────────────┬────────────┬──────────┬────────────┬────────────┬────────────┬──────────┬───────────┐
│ Codigo     ┆ Cliente    ┆ Tienda   ┆ Fecha      ┆ Fecha      ┆ Producto   ┆ Unidades ┆ Precio    │
│ Factura    ┆ ---        ┆ ---      ┆ Pedido     ┆ Entrega    ┆ ---        ┆ ---      ┆ ---       │
│ ---        ┆ str        ┆ str      ┆ ---        ┆ ---        ┆ str        ┆ i16      ┆ f32       │
│ str        ┆            ┆          ┆ date       ┆ date       ┆            ┆          ┆           │
╞════════════╪════════════╪══════════╪════════════╪════════════╪════════════╪══════════╪═══════════╡
│ 55275      ┆ James      ┆ ModCloth ┆ 2024-01-30 ┆ 2024-02-06 ┆ ML         ┆ 12       ┆ 211.17219 │
│            ┆ McCoy      ┆          ┆            ┆            ┆ Mountain   ┆          ┆ 5         │
│            ┆            ┆          ┆            ┆            ┆ Frame-W -  ┆          ┆           │
│            ┆            ┆          ┆            ┆            ┆ Silver, 40 ┆          ┆           │
│ 59064      ┆ Krishna    ┆ GameStop ┆ 2024-03-30 ┆ 2024-04-07 ┆ ML         ┆ 13       ┆ 211.17219 │
│            ┆ Sunkammura ┆          ┆            ┆            ┆ Mountain   ┆          ┆ 5         │
│            ┆ li         ┆          ┆            ┆            ┆ Frame-W -  ┆          ┆           │
│            ┆            ┆          ┆            ┆            ┆ Silver, 40 ┆          ┆           │
│ 65321      ┆ Humberto   ┆ Amazon   ┆ 2024-06-29 ┆ 2024-07-05 ┆ ML         ┆ 1        ┆ 218.45399 │
│            ┆ Acevedo    ┆          ┆            ┆            ┆ Mountain   ┆          ┆ 5         │
│            ┆            ┆          ┆            ┆            ┆ Frame-W -  ┆          ┆           │
│            ┆            ┆          ┆            ┆            ┆ Silver, 42 ┆          ┆           │
│ 57066      ┆ David      ┆ Alibaba  ┆ 2024-02-28 ┆ 2024-03-09 ┆ Women's    ┆ 4        ┆ 48.7435   │
│            ┆ Brink      ┆          ┆            ┆            ┆ Tights, S  ┆          ┆           │
│ 71691      ┆ Peter      ┆ Alibaba  ┆ 2024-09-30 ┆ 2024-10-06 ┆ Women's    ┆ 2        ┆ 48.7435   │
│            ┆ Connelly   ┆          ┆            ┆            ┆ Tights, S  ┆          ┆           │
└────────────┴────────────┴──────────┴────────────┴────────────┴────────────┴──────────┴───────────┘

In [38]:
# Configurar para redondear a 02 decimales las columnas de tipo float
Config.set_float_precision(2)

# Seleccionar y crear una nueva columna, aplicando el cambio del tipo de dato
df.select(pl.col("Factura"), 
          pl.col("Cliente"),
          pl.col("Tienda"),
          pl.col("Fecha Pedido"),
          pl.col("Fecha Entrega"),
          pl.col("Producto"), 
          pl.col("Unidades"),
          pl.col("Precio").round(2),
          Subtotal = (pl.col("Unidades") * pl.col("Precio")),#.cast(pl.Float64),
          Periodo = pl.col("Fecha Pedido").dt.strftime("%Y%m")#.cast(pl.Int32)
          ).head()

shape: (5, 10)
┌─────────┬─────────────────┬──────────┬──────────────┬───┬──────────┬────────┬──────────┬─────────┐
│ Factura ┆ Cliente         ┆ Tienda   ┆ Fecha Pedido ┆ … ┆ Unidades ┆ Precio ┆ Subtotal ┆ Periodo │
│ ---     ┆ ---             ┆ ---      ┆ ---          ┆   ┆ ---      ┆ ---    ┆ ---      ┆ ---     │
│ str     ┆ str             ┆ str      ┆ date         ┆   ┆ i16      ┆ f32    ┆ f32      ┆ str     │
╞═════════╪═════════════════╪══════════╪══════════════╪═══╪══════════╪════════╪══════════╪═════════╡
│ 55275   ┆ James McCoy     ┆ ModCloth ┆ 2024-01-30   ┆ … ┆ 12       ┆ 211.17 ┆ 2534.07  ┆ 202401  │
│ 59064   ┆ Krishna         ┆ GameStop ┆ 2024-03-30   ┆ … ┆ 13       ┆ 211.17 ┆ 2745.24  ┆ 202403  │
│         ┆ Sunkammurali    ┆          ┆              ┆   ┆          ┆        ┆          ┆         │
│ 65321   ┆ Humberto        ┆ Amazon   ┆ 2024-06-29   ┆ … ┆ 1        ┆ 218.45 ┆ 218.45   ┆ 202406  │
│         ┆ Acevedo         ┆          ┆              ┆   ┆          ┆        ┆          ┆         │
│ 57066   ┆ David Brink     ┆ Alibaba  ┆ 2024-02-28   ┆ … ┆ 4        ┆ 48.74  ┆ 194.97   ┆ 202402  │
│ 71691   ┆ Peter Connelly  ┆ Alibaba  ┆ 2024-09-30   ┆ … ┆ 2        ┆ 48.74  ┆ 97.49    ┆ 202409  │
└─────────┴─────────────────┴──────────┴──────────────┴───┴──────────┴────────┴──────────┴─────────┘

In [9]:
## Agregar una nueva columna a un Dataframe
df.with_columns(( pl.col("Unidades") * pl.col("Precio") ).alias("Subtotal")).head()

shape: (5, 11)
┌─────────┬───────────┬───────────────┬──────────┬───┬──────────────┬──────────┬────────┬──────────┐
│ Factura ┆ ClienteID ┆ Cliente       ┆ Tienda   ┆ … ┆ Producto     ┆ Unidades ┆ Precio ┆ Subtotal │
│ ---     ┆ ---       ┆ ---           ┆ ---      ┆   ┆ ---          ┆ ---      ┆ ---    ┆ ---      │
│ str     ┆ i64       ┆ str           ┆ str      ┆   ┆ str          ┆ i16      ┆ f32    ┆ f32      │
╞═════════╪═══════════╪═══════════════╪══════════╪═══╪══════════════╪══════════╪════════╪══════════╡
│ 55275   ┆ 30000     ┆ James McCoy   ┆ ModCloth ┆ … ┆ ML Mountain  ┆ 12       ┆ 211.17 ┆ 2534.07  │
│         ┆           ┆               ┆          ┆   ┆ Frame-W -    ┆          ┆        ┆          │
│         ┆           ┆               ┆          ┆   ┆ Silver, 40   ┆          ┆        ┆          │
│ 59064   ┆ 30050     ┆ Krishna       ┆ GameStop ┆ … ┆ ML Mountain  ┆ 13       ┆ 211.17 ┆ 2745.24  │
│         ┆           ┆ Sunkammurali  ┆          ┆   ┆ Frame-W -    ┆          ┆        ┆          │
│         ┆           ┆               ┆          ┆   ┆ Silver, 40   ┆          ┆        ┆          │
│ 65321   ┆ 29487     ┆ Humberto      ┆ Amazon   ┆ … ┆ ML Mountain  ┆ 1        ┆ 218.45 ┆ 218.45   │
│         ┆           ┆ Acevedo       ┆          ┆   ┆ Frame-W -    ┆          ┆        ┆          │
│         ┆           ┆               ┆          ┆   ┆ Silver, 42   ┆          ┆        ┆          │
│ 57066   ┆ 29586     ┆ David Brink   ┆ Alibaba  ┆ … ┆ Women's      ┆ 4        ┆ 48.74  ┆ 194.97   │
│         ┆           ┆               ┆          ┆   ┆ Tights, S    ┆          ┆        ┆          │
│ 71691   ┆ 29676     ┆ Peter         ┆ Alibaba  ┆ … ┆ Women's      ┆ 2        ┆ 48.74  ┆ 97.49    │
│         ┆           ┆ Connelly      ┆          ┆   ┆ Tights, S    ┆          ┆        ┆          │
└─────────┴───────────┴───────────────┴──────────┴───┴──────────────┴──────────┴────────┴──────────┘

In [10]:
## Agregar nuevas columnas a un Dataframe
df.with_columns(( pl.col("Unidades") * pl.col("Precio") ).alias("Subtotal"),
                ( pl.col("Fecha Entrega") - pl.col("Fecha Pedido") ).dt.total_days().alias("Dias Cierre")
                ).head()#.sort("Fecha Entrega", descending=True, nulls_last=False)

shape: (5, 12)
┌─────────┬───────────┬────────────────┬──────────┬───┬──────────┬────────┬──────────┬─────────────┐
│ Factura ┆ ClienteID ┆ Cliente        ┆ Tienda   ┆ … ┆ Unidades ┆ Precio ┆ Subtotal ┆ Dias Cierre │
│ ---     ┆ ---       ┆ ---            ┆ ---      ┆   ┆ ---      ┆ ---    ┆ ---      ┆ ---         │
│ str     ┆ i64       ┆ str            ┆ str      ┆   ┆ i16      ┆ f32    ┆ f32      ┆ i64         │
╞═════════╪═══════════╪════════════════╪══════════╪═══╪══════════╪════════╪══════════╪═════════════╡
│ 55275   ┆ 30000     ┆ James McCoy    ┆ ModCloth ┆ … ┆ 12       ┆ 211.17 ┆ 2534.07  ┆ 7           │
│ 59064   ┆ 30050     ┆ Krishna        ┆ GameStop ┆ … ┆ 13       ┆ 211.17 ┆ 2745.24  ┆ 8           │
│         ┆           ┆ Sunkammurali   ┆          ┆   ┆          ┆        ┆          ┆             │
│ 65321   ┆ 29487     ┆ Humberto       ┆ Amazon   ┆ … ┆ 1        ┆ 218.45 ┆ 218.45   ┆ 6           │
│         ┆           ┆ Acevedo        ┆          ┆   ┆          ┆        ┆          ┆             │
│ 57066   ┆ 29586     ┆ David Brink    ┆ Alibaba  ┆ … ┆ 4        ┆ 48.74  ┆ 194.97   ┆ 10          │
│ 71691   ┆ 29676     ┆ Peter Connelly ┆ Alibaba  ┆ … ┆ 2        ┆ 48.74  ┆ 97.49    ┆ 6           │
└─────────┴───────────┴────────────────┴──────────┴───┴──────────┴────────┴──────────┴─────────────┘

##### 3.2 Filtrado de Datos

In [11]:
# Filtrado de dataframe con condición de igualdad
df.filter(pl.col("Cliente") == "Jay Adams").head(5)

shape: (5, 10)
┌─────────┬───────────┬───────────┬────────┬───┬───────────────┬───────────────┬──────────┬────────┐
│ Factura ┆ ClienteID ┆ Cliente   ┆ Tienda ┆ … ┆ Fecha Entrega ┆ Producto      ┆ Unidades ┆ Precio │
│ ---     ┆ ---       ┆ ---       ┆ ---    ┆   ┆ ---           ┆ ---           ┆ ---      ┆ ---    │
│ str     ┆ i64       ┆ str       ┆ str    ┆   ┆ date          ┆ str           ┆ i16      ┆ f32    │
╞═════════╪═══════════╪═══════════╪════════╪═══╪═══════════════╪═══════════════╪══════════╪════════╡
│ 71884   ┆ 29492     ┆ Jay Adams ┆ Ebay   ┆ … ┆ 2024-10-07    ┆ ML Mountain   ┆ 1        ┆ 218.45 │
│         ┆           ┆           ┆        ┆   ┆               ┆ Frame-W -     ┆          ┆        │
│         ┆           ┆           ┆        ┆   ┆               ┆ Silver, 40    ┆          ┆        │
│ 71884   ┆ 29492     ┆ Jay Adams ┆ Ebay   ┆ … ┆ 2024-10-12    ┆ Women's       ┆ 3        ┆ 41.99  │
│         ┆           ┆           ┆        ┆   ┆               ┆ Mountain      ┆          ┆        │
│         ┆           ┆           ┆        ┆   ┆               ┆ Shorts, S     ┆          ┆        │
│ 59058   ┆ 29492     ┆ Jay Adams ┆ Ebay   ┆ … ┆ 2024-04-08    ┆ Women's       ┆ 2        ┆ 41.99  │
│         ┆           ┆           ┆        ┆   ┆               ┆ Mountain      ┆          ┆        │
│         ┆           ┆           ┆        ┆   ┆               ┆ Shorts, M     ┆          ┆        │
│ 71884   ┆ 29492     ┆ Jay Adams ┆ Ebay   ┆ … ┆ 2024-10-08    ┆ Women's       ┆ 2        ┆ 41.99  │
│         ┆           ┆           ┆        ┆   ┆               ┆ Mountain      ┆          ┆        │
│         ┆           ┆           ┆        ┆   ┆               ┆ Shorts, M     ┆          ┆        │
│ 59058   ┆ 29492     ┆ Jay Adams ┆ Ebay   ┆ … ┆ 2024-04-06    ┆ Women's       ┆ 9        ┆ 41.99  │
│         ┆           ┆           ┆        ┆   ┆               ┆ Mountain      ┆          ┆        │
│         ┆           ┆           ┆        ┆   ┆               ┆ Shorts, L     ┆          ┆        │
└─────────┴───────────┴───────────┴────────┴───┴───────────────┴───────────────┴──────────┴────────┘

In [39]:
# Filtrado de dataframe con intervalos para fechas
df.filter(pl.col("Fecha Pedido") >= pl.date(2024, 5, 1)).head(5)

shape: (5, 10)
┌─────────┬───────────┬──────────────┬─────────┬───┬─────────────┬─────────────┬──────────┬────────┐
│ Factura ┆ ClienteID ┆ Cliente      ┆ Tienda  ┆ … ┆ Fecha       ┆ Producto    ┆ Unidades ┆ Precio │
│ ---     ┆ ---       ┆ ---          ┆ ---     ┆   ┆ Entrega     ┆ ---         ┆ ---      ┆ ---    │
│ str     ┆ i64       ┆ str          ┆ str     ┆   ┆ ---         ┆ str         ┆ i16      ┆ f32    │
│         ┆           ┆              ┆         ┆   ┆ date        ┆             ┆          ┆        │
╞═════════╪═══════════╪══════════════╪═════════╪═══╪═════════════╪═════════════╪══════════╪════════╡
│ 65321   ┆ 29487     ┆ Humberto     ┆ Amazon  ┆ … ┆ 2024-07-05  ┆ ML Mountain ┆ 1        ┆ 218.45 │
│         ┆           ┆ Acevedo      ┆         ┆   ┆             ┆ Frame-W -   ┆          ┆        │
│         ┆           ┆              ┆         ┆   ┆             ┆ Silver, 42  ┆          ┆        │
│ 71691   ┆ 29676     ┆ Peter        ┆ Alibaba ┆ … ┆ 2024-10-06  ┆ Women's     ┆ 2        ┆ 48.74  │
│         ┆           ┆ Connelly     ┆         ┆   ┆             ┆ Tights, S   ┆          ┆        │
│ 71940   ┆ 29487     ┆ Humberto     ┆ Amazon  ┆ … ┆ 2024-10-04  ┆ ML Mountain ┆ 2        ┆ 218.45 │
│         ┆           ┆ Acevedo      ┆         ┆   ┆             ┆ Frame-W -   ┆          ┆        │
│         ┆           ┆              ┆         ┆   ┆             ┆ Silver, 46  ┆          ┆        │
│ 71884   ┆ 29492     ┆ Jay Adams    ┆ Ebay    ┆ … ┆ 2024-10-07  ┆ ML Mountain ┆ 1        ┆ 218.45 │
│         ┆           ┆              ┆         ┆   ┆             ┆ Frame-W -   ┆          ┆        │
│         ┆           ┆              ┆         ┆   ┆             ┆ Silver, 40  ┆          ┆        │
│ 69309   ┆ 29586     ┆ David Brink  ┆ Alibaba ┆ … ┆ 2024-09-07  ┆ Women's     ┆ 4        ┆ 48.74  │
│         ┆           ┆              ┆         ┆   ┆             ┆ Tights, L   ┆          ┆        │
└─────────┴───────────┴──────────────┴─────────┴───┴─────────────┴─────────────┴──────────┴────────┘

In [40]:
# Filtrado de dataframe basado en la fecha actual
from datetime import date
from dateutil.relativedelta import relativedelta

fecha_corte = date.today() - relativedelta(days = 3) # + relativedelta(months = 2)

df.filter(pl.col("Fecha Pedido") >= fecha_corte).head()

shape: (5, 10)
┌─────────┬───────────┬─────────────┬──────────┬───┬─────────────┬─────────────┬──────────┬────────┐
│ Factura ┆ ClienteID ┆ Cliente     ┆ Tienda   ┆ … ┆ Fecha       ┆ Producto    ┆ Unidades ┆ Precio │
│ ---     ┆ ---       ┆ ---         ┆ ---      ┆   ┆ Entrega     ┆ ---         ┆ ---      ┆ ---    │
│ str     ┆ i64       ┆ str         ┆ str      ┆   ┆ ---         ┆ str         ┆ i16      ┆ f32    │
│         ┆           ┆             ┆          ┆   ┆ date        ┆             ┆          ┆        │
╞═════════╪═══════════╪═════════════╪══════════╪═══╪═════════════╪═════════════╪══════════╪════════╡
│ 55275   ┆ 30000     ┆ James McCoy ┆ ModCloth ┆ … ┆ 2024-02-06  ┆ ML Mountain ┆ 12       ┆ 211.17 │
│         ┆           ┆             ┆          ┆   ┆             ┆ Frame-W -   ┆          ┆        │
│         ┆           ┆             ┆          ┆   ┆             ┆ Silver, 40  ┆          ┆        │
│ 59064   ┆ 30050     ┆ Krishna Sun ┆ GameStop ┆ … ┆ 2024-04-07  ┆ ML Mountain ┆ 13       ┆ 211.17 │
│         ┆           ┆ kammurali   ┆          ┆   ┆             ┆ Frame-W -   ┆          ┆        │
│         ┆           ┆             ┆          ┆   ┆             ┆ Silver, 40  ┆          ┆        │
│ 65321   ┆ 29487     ┆ Humberto    ┆ Amazon   ┆ … ┆ 2024-07-05  ┆ ML Mountain ┆ 1        ┆ 218.45 │
│         ┆           ┆ Acevedo     ┆          ┆   ┆             ┆ Frame-W -   ┆          ┆        │
│         ┆           ┆             ┆          ┆   ┆             ┆ Silver, 42  ┆          ┆        │
│ 57066   ┆ 29586     ┆ David Brink ┆ Alibaba  ┆ … ┆ 2024-03-09  ┆ Women's     ┆ 4        ┆ 48.74  │
│         ┆           ┆             ┆          ┆   ┆             ┆ Tights, S   ┆          ┆        │
│ 71691   ┆ 29676     ┆ Peter       ┆ Alibaba  ┆ … ┆ 2024-10-06  ┆ Women's     ┆ 2        ┆ 48.74  │
│         ┆           ┆ Connelly    ┆          ┆   ┆             ┆ Tights, S   ┆          ┆        │
└─────────┴───────────┴─────────────┴──────────┴───┴─────────────┴─────────────┴──────────┴────────┘

##### 3.3 Agrupación de Datos

In [41]:
# Los datos en la agregación crean una lista con todos los valores pertenecientes a la agrupación
df.group_by("Fecha Pedido").agg( pl.col("Factura") )

# Para eliminar los valores duplicados en la lista usamos: unique()
df.group_by("Fecha Pedido").agg( pl.col("Factura").unique() )

# Ahora realizamos la operación de agreación: count()
df.group_by("Fecha Pedido").agg( pl.col("Factura").unique().count() )

# Podemos colocar un sobrenombre o alias a la columna de agregación
df.group_by("Fecha Pedido").agg( pl.col("Factura").unique().count().alias("#Facturas") ).sort("Fecha Pedido", descending=False).head(5)

shape: (5, 2)
┌──────────────┬───────────┐
│ Fecha Pedido ┆ #Facturas │
│ ---          ┆ ---       │
│ date         ┆ u32       │
╞══════════════╪═══════════╡
│ 2024-01-01   ┆ 58        │
│ 2024-01-02   ┆ 52        │
│ 2024-01-03   ┆ 58        │
│ 2024-01-04   ┆ 44        │
│ 2024-01-05   ┆ 46        │
└──────────────┴───────────┘

In [18]:
# Agrupación con agregación sobre una operación
df.group_by("Tienda").agg((pl.col("Unidades") * pl.col("Precio")).sum().alias("Ventas"))

# Agrupación basada en una operación con agregación simple
df.group_by(pl.col("Fecha Pedido").dt.month().alias("Mes")).agg(pl.col("Factura").unique().count().alias("#Facturas")).sort("Mes", descending = False)

shape: (11, 2)
┌─────┬───────────┐
│ Mes ┆ #Facturas │
│ --- ┆ ---       │
│ i8  ┆ u32       │
╞═════╪═══════════╡
│ 1   ┆ 1789      │
│ 2   ┆ 1791      │
│ 3   ┆ 1968      │
│ 4   ┆ 2103      │
│ …   ┆ …         │
│ 8   ┆ 2399      │
│ 9   ┆ 2115      │
│ 10  ┆ 2411      │
│ 11  ┆ 939       │
└─────┴───────────┘

In [20]:
# Agregar formato a la agregación
df.group_by("Tienda").agg((pl.col("Unidades") * pl.col("Precio")).sum().alias("Ventas")
                        ).sort("Ventas", descending=True
                        ).with_columns(pl.format( "S/ {} MM", (pl.col("Ventas")/1000000).round(1) ).alias("Ventas"))

shape: (10, 2)
┌───────────┬───────────┐
│ Tienda    ┆ Ventas    │
│ ---       ┆ ---       │
│ str       ┆ str       │
╞═══════════╪═══════════╡
│ Mr Porter ┆ S/ 8.0 MM │
│ Walmart   ┆ S/ 6.0 MM │
│ BestBuy   ┆ S/ 5.1 MM │
│ ModCloth  ┆ S/ 4.9 MM │
│ …         ┆ …         │
│ Alibaba   ┆ S/ 3.0 MM │
│ Ebay      ┆ S/ 2.1 MM │
│ Zappos    ┆ S/ 1.8 MM │
│ Amazon    ┆ S/ 1.7 MM │
└───────────┴───────────┘

In [19]:
# Agrupación basada en más de una columna
df.group_by(["Pais", "Tienda"]).agg((pl.col("Unidades") * pl.col("Precio")).sum().alias("Ventas")).sort("Ventas", descending = True)

shape: (10, 3)
┌───────────────┬───────────┬────────────┐
│ Pais          ┆ Tienda    ┆ Ventas     │
│ ---           ┆ ---       ┆ ---        │
│ str           ┆ str       ┆ f32        │
╞═══════════════╪═══════════╪════════════╡
│ United States ┆ Mr Porter ┆ 7980172.00 │
│ United States ┆ Walmart   ┆ 5997758.50 │
│ Australia     ┆ BestBuy   ┆ 5088565.00 │
│ Canada        ┆ ModCloth  ┆ 4944273.00 │
│ …             ┆ …         ┆ …          │
│ Germany       ┆ Alibaba   ┆ 3032316.00 │
│ United States ┆ Ebay      ┆ 2134902.25 │
│ United States ┆ Zappos    ┆ 1798356.00 │
│ United States ┆ Amazon    ┆ 1654662.62 │
└───────────────┴───────────┴────────────┘